%html
  %head
    %title
      moonmaster9000
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %link{ :rel => "stylesheet", :href => "css/reset.css", :type => "text/css" }
    %link{ :rel => "stylesheet", :href => "css/oldie.css", :type => "text/css" }
  %body
    #main
      #inner
        #header
          %h1
            %a{ :href => "/" }
              moonmaster9000
        #entries
          .entry.text
            %h2
              %a{ :href => "http://github.com/moonmaster9000/dupe" }dupe
              (düp), n., 1. To deceive. 
              2. A gem for quickly developing service mocks for testing ActiveResource.
          .entry.text
            %h2
              %a{ :href => "http://github.com/moonmaster9000/wallet" }wallet
              (wä-lət), n., 1. A pocket-size case for holding papers and paper money.
              2. A gem for action cache configuration.
          .entry.text
            %h2
              %a{ :href => "http://github.com/moonmaster9000/binder" }binder
              (bīn-dər), n., 1. Something (as tar or cement) that produces or promotes cohesion in loosely assembled substances
              2. A gem for rebinding a proc to a new scope.
          .entry.text
            %h2
              %a{ :href => "http://github.com/moonmaster9000/breadboard" }breadboard
              (bred-bȯrd), n., 1. A board on which mounted components are breadboarded
              2. A gem for changing the service an ActiveResource object consumes based on your Rails environment.
          .entry.text
            %h2
              %a{ :href => "http://github.com/moonmaster9000/fortify" }fortify
              (fȯr-tə-fī), n., 1. To make strong.
              2. A gem for defining default attributes for a newly instantiated ActiveResource object.
          .entry.text
            %h2
              %a{ :href => "http://github.com/moonmaster9000/veracious" }veracious
              (və-ˈrā-shəs), n., 1. Marked by truth.
              2. A gem for validating ActiveResource objects client-side.
